
/* Animation */

.anime-title {
  position: relative;
  font-weight: 300;
  font-size: 6.5em;
  color: #402d2d;
  -webkit-text-stroke: 2px white;
}

.anime-title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.anime-title .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.anime-title .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 500;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.anime-title .letters {
  display: inline-block;
  opacity: 0;
}

.anime-option {
  font-weight: 800;
  font-size: 5em;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.anime-option .word {
  display: inline-block;
  line-height: 1em;
}

/* Home page */

.ca-link:link {
  color: #221818;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
}

.ca-link:active {
  color: #221818;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
}

.ca-link:visited {
  color: #221818;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
}

.ca-link:hover {
  color: #402d2d;
  font-size: 1.2em;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
}

.timer {

  padding: 5px;
  height:40px !important;
  margin-top: 25px;

}

.question {

  text-align: center;
  font-size: 4em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;

  margin-top: 5%;

}

.scoreboard {

  font-family: Baskerville, "EB Garamond", serif;
  font-size: 300%;
  font-weight: 900;
  color: #007bff;
  -webkit-text-stroke: 2px #3191f7;

}

.score {

  font-size: 1.5em;
  font-weight: 900;
  color: #007bff;

}

.leaderboard {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 485px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);

}

.lb-title {

  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;

}

.lb-entry {

  position: relative;
  padding: 18px 10px 18px 15px;
  z-index: 1;
  backface-visibility: hidden;

  background: linear-gradient(#fa6855, #e94d39, #fa6855);
  border: 1px solid #402d2d;
  border-radius: 5px;
  font-size: 14px;

  margin-left: 5px;
  margin-right: 5px;

}

.lb-serial {

  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  line-height: 20px;

  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;

}

.lb-text {

  top: 0;
  padding-left: 50px;
  background: none;
  color: #fff;

}
