{% extends 'general/skeleton.html' %}

{% block title %}Survival Mode{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card card-primary" style="margin-top: 5%; height: 140%">
      <div class="card-header p-1">
        <ul class="nav nav-tabs" role="tablist">
          <li class="tab-item">
            <a class="nav-link active" data-toggle="pill" href="#quick-start" role="tab">
              Quick start
            </a>
          </li>
          <li class="tab-item">
            <a class="nav-link" data-toggle="pill" href="#customed-start" role="tab">
              Customed start
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="quick-start" role="tabpanel">
            <div style="text-align: center; margin-top: 15%;">
              <h1><a href="/survival/play">What are you waiting for?</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}