{% extends 'general/skeleton.html' %}

{% block title %}Survival Mode{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="leaderboard">
  <h1 class="lb-title">LEADERBOARD</h1>
  {% for user in users %}
  {% if user["username"] == you["username"] %}
  <div class="lb-entry" style="border-color: rgb(235, 235, 235); font-weight: 900;">
    {% else %}
    <div class="lb-entry">
      {% endif %}
      <div class="lb-serial">
        <div style="margin-top: 5px; font-weight: 900; font-size: 1.5em">{{ loop.index }}</div>
      </div>
      <div>
        <span class="lb-text">
          {{ user['username'] }}
        </span>
        <span class="lb-score">
          {{ user['maxgrade'] }}
        </span>
      </div>
    </div>
    {% endfor %}
    <div style="margin-bottom: 25px"></div>
    <div style="margin: 16px">
      <button type="button" class="btn btn-block btn-outline-secondary"
        onclick="window.location.replace('/survival/play')" style="border-color: #e1e1e1; color: #e1e1e1">
        <a style="font-size: 1.2em">One more play</a>
      </button>
    </div>
    {% if 1 == 1 %}
  </div>
  {% else %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}