{% extends 'general/skeleton.html' %}

{% block title %}Survival Mode{% endblock %}

{% block content %}
<div class="leaderboard">
  <h1 class="lb-title">LEADERBOARD</h1>
  {% for user in users %}
  <div class="lb-entry">
    <div class="lb-serial">
      <div style="margin-top: 5px; font-weight: 900; font-size: 1.5em">{{ loop.index }}</div>
    </div>
    <div class="lb-text">
      {{ user['username'] }}
      {{ user['maxgrade'] }}
    </div>
  </div>
  {% endfor %}
  <div style="margin-bottom: 15px"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}