{% extends 'general/skeleton.html' %}

{% block title %}Dual Mode{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="card card-primary" style="margin-top: 5%;">
			<div class="card-header p-0 pl-1 pt-1 border-bottom-0">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item pr-1">
						<a class="nav-link active" data-toggle="pill" href="#quick-start" role="tab">
							Quick start
						</a>
					</li>
					<li class="nav-item pr-1">
						<a class="nav-link" data-toggle="pill" href="#customed-start" role="tab">
							Customed start
						</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane fade active show" id="quick-start" role="tabpanel">
						<div class="rule">
							<h2 style="font-weight: 900; text-align: center">GAME RULES</h2>
							<p>1. Basic rules are similar to survival mode.</p>
							<p>2. Game will be over when both side have run out of their <code>time</code>,
								or one side ran out of his <code>time</code> with lower <code>score</code>.</p>
							<p>3. The player with higher <code>score</code> wins.</p>
						</div>
						<form method="POST">
							<div class="form-group mb-3 mt-3" style="margin-left: 20%; margin-right: 20%; text-align: center">
								<label style="font-size: 1.5em">Enter the name of the user you want to connect with!</label>
								<input type="text" name="username" class="form-control"
									style="border-left:none; border-right:none; border-top:none; margin-left: 30%; width: 40%; text-align: center; font-size: 1.5em">
							</div>
							<div style="margin-left: 30%; margin-right: 30%">
								<button class="btn btn-block btn-outline-primary" onclick="toast()"
									style="padding: 0; margin-top: 7%; margin-bottom: 7%; width: 60%; margin-left: 20%">
									<span style="font-size: 1.6em;">Start Game</span>
								</button>
							</div>
						</form>
						<div style="text-align: center">
							{% for message in get_flashed_messages(category_filter=["error"]) %}
							<div style="color:red"><i class="fa fa-times-circle"></i> Error: {{ message }}</div>
							{% endfor %}
						</div>
					</div>
					<div class="tab-pane fade" id="customed-start" role="tabpanel">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock %}

{% block scripts %}
<script>

	function toast() {

		const Toast = Swal.mixin({
			showConfirmButton: false,
		});

		Toast.fire({
			type: 'info',
			title: 'Waiting for your opponent...'
		})

		window.location.replace('/survival/play');

	}

</script>
{% endblock %}